<!DOCTYPE html>
<html lang="en">

<head>
    {%block title%}Flash Practice{%endblock%}
</head>

<body>
    <header>
        <h1>Flash practice</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/form">Form</a>
        </nav>
    </header>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul style="color:green">
        {% for message in messages%}
        <li>{{message}}</li>
    </ul>
    {%endfor%}
    {%endif%}
    {%endwith%}

    {%block content %}
    {%endblock%}
</body>

</html>